body {

  background-color:#134391;
  text-align: center;
  margin: 0;
  padding: 0;
  color:#FFD700;

}


.waffle {
	text-decoration: none;
	color: white;
	 list-style-type: none;
	 padding-left:100px;
}

h1{
	padding-top:50px;
}	
.pancake{
	height:424px;
	width:332px;
	}	
	.pancake2{
	height:347px;
	width:694px;
	
	}	

	.fluff {
		font-size:35px;
	}		
	
	.mallow{
		padding-top:60px;
		padding-bottom:0px;
		color:black;
		font-size:24px;
	}
	
	.orange{
		color:black;
		background-color:white;
	}
	.marsh{
		height:200px;
		width:300px;
	}